<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOCOFAMCO ID Form</title>
</head>
<body>
    <h2>BOCOFAMCO ID Form</h2>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <form action="/admin/register" method="POST">
        <label>CB Number:</label>
        <input type="text" name="cb_number" required><br>

        <label>First Name:</label>
        <input type="text" name="first_name" required><br>
    
        <label>Last Name:</label>
        <input type="text" name="last_name" required><br>
    
        <label>Address:</label>
        <textarea name="address" required></textarea><br>
    
        <label>Beneficiaries:</label>
        <input type="text" name="beneficiary_1" required><br>
        <input type="text" name="beneficiary_2"><br>
    
        <h3>In Case of Emergency Contact:</h3>
        <label>Name:</label>
        <input type="text" name="emergency_name" required><br>
    
        <label>Relationship:</label>
        <input type="text" name="emergency_relationship" required><br>
    
        <label>Address:</label>
        <textarea name="emergency_address" required></textarea><br>
    
        <label>Contact No.:</label>
        <input type="text" name="emergency_contact" required><br>
    
        <label>Date Issued:</label>
        <input type="date" name="date_issued" required><br>
    
        <button type="submit">Submit</button>
    </form>    
</body>
</html>
